@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Michroma&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030109;
  color: #8272a8;
  margin-bottom: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#username {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-family: 'Michroma', sans-serif;
  color: #f6f6f6;
  text-shadow:
    0 0 7px #f6f6f6,
    0 0 10px #f6f6f6,
    0 0 21px #f6f6f6,
    0 0 42px #8a5cff,
    0 0 82px #8a5cff,
    0 0 92px #8a5cff,
    0 0 102px #8a5cff,
    0 0 151px #8a5cff;
  animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
    
  100% {
      text-shadow:
      0 0 4px #f6f6f6,
      0 0 11px #f6f6f6,
      0 0 19px #f6f6f6,
      0 0 40px #8a5cff,
      0 0 80px #8a5cff,
      0 0 90px #8a5cff,
      0 0 100px #8a5cff,
      0 0 150px #8a5cff;
  }
  
  0% {
    text-shadow:
    0 0 2px #f6f6f6,
    0 0 4px #f6f6f6,
    0 0 6px #f6f6f6,
    0 0 10px #8a5cff,
    0 0 45px #8a5cff,
    0 0 55px #8a5cff,
    0 0 70px #8a5cff,
    0 0 80px #8a5cff;
  }
}

#userInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.9em;
  margin-top: 4%;
  margin-bottom: 8%;
}

#projectBlock {
  height: 438px;
  width: 760px;
}

#skillsBlock {
  width: 430px;
}

#graphBlock {
  display: flex;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Michroma', sans-serif;
  color: #f6f6f6;
  margin-bottom: 58px;
}

h2 {
  margin-top: 0;
  margin-bottom: 58px;
  text-align: center;
  font-size: 16px;
}

span {
  font-size: 32px;
  /* padding-left: 6%; */
}
#span {
  list-style-type: none;
  height: 100%;
}

#g1 {
  display: flex;
  justify-content: left;
  padding-left: 6%;
}

#g2 {
  display: flex;
  justify-content: center;
}

#g3 {
  display: flex;
  justify-content: right;
  padding-right: 6%;
}

#gradeBlock {
  margin-left: 5em;
  margin-right: 5em;
}

#gradeInfo {
  display: flex;
  justify-content: space-around;
}

#gradeData1,
#gradeData2,
#gradeData3 {
  border-top: solid #F7E731;
  padding-top: 28px;
}

#gradeData1 {
  border-right: solid #F7E731;
  padding-right: 70px;
}

#gradeData2 {
  padding-right: 40px;
}

#gradeData3 {
  border-left: solid #F7E731;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 41px;
}

#ratio {
  color: #F7E731;
  font-weight: bold;
}